<%= form_for @aws_vpc, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :name, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :aws_name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :aws_name, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :cidr_block, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :cidr_block, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :instance_tenancy, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :instance_tenancy, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :enable_dns_support, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :enable_dns_support, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :enable_dns_hostnames, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :enable_dns_hostnames, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :subnet_base, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :subnet_base, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  aws_vpcs_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
