<h1>Listing aws_vpcs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Aws name</th>
      <th>Cidr block</th>
      <th>Instance tenancy</th>
      <th>Enable dns support</th>
      <th>Enable dns hostnames</th>
      <th>Subnet base</th>
      <th>Aws account</th>
      <th>Aws region</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aws_vpcs.each do |aws_vpc| %>
      <tr>
        <td><%= aws_vpc.name %></td>
        <td><%= aws_vpc.aws_name %></td>
        <td><%= aws_vpc.cidr_block %></td>
        <td><%= aws_vpc.instance_tenancy %></td>
        <td><%= aws_vpc.enable_dns_support %></td>
        <td><%= aws_vpc.enable_dns_hostnames %></td>
        <td><%= aws_vpc.subnet_base %></td>
        <td><%= aws_vpc.aws_account %></td>
        <td><%= aws_vpc.aws_region %></td>
        <td><%= link_to 'Show', aws_vpc %></td>
        <td><%= link_to 'Edit', edit_aws_vpc_path(aws_vpc) %></td>
        <td><%= link_to 'Destroy', aws_vpc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Aws vpc', new_aws_vpc_path %>
